<!DOCTYPE html>
<html>

<head>
    <title>Monster Slayer</title>
    <script src="https://npmcdn.com/vue/dist/vue.js"></script>
    <link rel="stylesheet" href="css/foundation.min.css">
    <link rel="stylesheet" href="css/app.css">
</head>

<body>
    <div id="app">
        <!-- *****  START HEALT BARS ***** --->
        <section class="row">
            <div class="small-6 columns">
                <h1 class="text-center">YOU</h1>
                <div class="healthbar">
                    <div class="healthbar text-center healthYou" :style="{width : youHealt + '%'}">
                        {{youHealt}}
                    </div>
                </div>
            </div>
            <div class="small-6 columns">
                <h1 class="text-center">MONSTER</h1>
                <div class="healthbar">
                    <div class="healthbar text-center healthMonster" :style="{width : healthMonster + '%'}">
                        {{healthMonster}}
                    </div>
                </div>
            </div>
        </section>
        <!-- ***** END HEALT BARS ***** -->
        <!-- *****  START CONTROLS ***** -->
        <template v-if="displayNewGame">
            <section class="row controls">
                <div class="small-12 columns">
                    <button id="start-game" @click="startNewGame">START NEW GAME</button>
                </div>
            </section>
        </template>
        <template v-else>
        <section class="row controls">
            <div class="small-12 columns">
                <button id="attack" @click="attack">ATTACK</button>
                <button id="special-attack" @click="specialAttack">SPECIAL ATTACK</button>
                <button id="heal" @click="heal">HEAL</button>
                <button id="give-up" @click="giveUp">GIVE UP</button>
            </div>
        </section>
        </template>
        <!-- ***** END CONTROLS ***** -->
        <!-- ***** START LOG ACTIONS ***** -->
        <section class="row log" v-if="lista.length>0">
            <div class="small-12 columns">
                <ul>
                    <template v-for="item in lista">
                        <li class="monster-turn">monster hit player for {{item.playerDamage}} damage</li>
                        <li class="player-turn">player hit monster for {{item.monsterDamage}} damage </li>
                    </template>
                </ul>
            </div>
        </section>
        <!-- ***** END LOG ACTIONS ***** -->
    </div>
    <script src="app.js"></script>
</body>

</html>